/web/bundles/
/web/assetic/
/web/fonts/
/web/images/
!web/dee/.gitkeep
/web/dee/

/app/config/parameters.yml
/app/phpunit.xml

/bin/*
!bin/console

/build/
/vendor/
/composer.phar
src/Ign/Bundle/GincoBundle
src/Ign/Bundle/OGAMConfigurateurBundle
src/Ign/Bundle/GincoConfigurateurBundle
/.settings/
/.buildpath
/nbproject/
/node_modules/

# Symfony directories
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep

/var/bootstrap.php.cache